.embedchat-logo{
    cursor:pointer;
    position: fixed;
    width: 4rem;
    height: 4rem;
    bottom: 20px;
    right: 20px;
    /*padding: 18px;*/
    z-index: 999999;
    opacity: 1;
    border-radius: 50%;
    /*border-radius: 30%;*/
    /*box-shadow: 0 0 8px 2px rgba(22, 58, 71, 0.7);*/
    box-shadow: 0 0 8px 2px rgba(22, 58, 71, 0.3);
    transform: scale(1);
    animation: pulse-black 2.5s infinite;
    animation-timing-function: ease-in-out;
    /*background-color: white;*/
    /*background-color: #f4d35e;*/

    /*background-color: #0a1733;*/
    /*background-color: #0a1733;*/
    /*background-color: #00000000;*/
    /*background-color: #00000000;*/

    visibility: hidden;

    /*background-color: blue;*/
    /*background: white;*/
}

.embedchat-icn{
    /*flex: fit-content;*/
    align-items: center;
    justify-content: center;
    scale: 50%;
    /*flex-basis: fit-content;*/
    /*padding: 12px;*/
    /*padding: 15%;*/



    /*margin-left: 1px;*/
    /*margin-top: 2px;*/
    /*margin-top: 2px;*/
}
.embedchat-logo:hover{
    scale: 1.1;
    z-index: 999997;
}
.embedchat-iframe{
    display:none;
    position: fixed;
    /*scale: 85%;*/
    scale: 95%;
    width: 335px;
    /*height: 90vh;*/
    height: 70vh;
    bottom: 26px;
    right: 10px;
    pointer-events: none;
    z-index:9999999;
    opacity: 0;
    transform: translateX(100px);
    transition: .6s ease opacity,.6s ease transform;
    border-radius: 22px;
    /*border-radius: 12px;*/
    /*border-radius: 10px;*/
    box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.1), 0px 10px 100px -20px rgba(50, 50, 93, 0.25), 0px 20px 60px -30px rgba(0, 0, 0, 0.3);
    background-color: white;
    /*border: 2px solid #0a1733;*/
    /*border: 2px solid transparent;*/
    border-top: 5px #0a1733;
    outline: 2px transparent;
    overflow: hidden
}
@keyframes pulse-black {
    0% {
        transform: scale(1);
        box-shadow: 0 0 8px 4px rgba(22, 58, 71, 0.7);
    }

    70% {
        transform: scale(0.95);
        box-shadow: 0 0 8px 8px rgba(22, 58, 71, 0.2);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 8px 4px rgba(22, 58, 71, 0.7);
    }


}
@media screen and (max-width:1000px){
    .embedchat-logo{
        width: 3rem;
        height: 3rem;
        bottom: 12px;
        right: 12px;
    }
    .embedchat-iframe{
        width: 90%;
        height: 90%;
        bottom: 50px;
        right: 16px;
    }
}

.embedchat-welcome-message {
    cursor: pointer;
    position: fixed;
    bottom: 91px;
    right: 32px;
    /*padding: 4px;*/
    padding: 8px;
    /*padding: 2px;*/
    z-index: 999999;
    opacity: 1;
    /*border-radius: 15px 15px 15px 0;*/
    border-radius: 15px 15px 0px 15px;
    box-shadow: 0 0 8px 2px rgba(216, 216, 216, 0.7);
    background: white;
    color: black; /* Set the text color to black */
}









.embedchat-close-btn {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    /*background-color: rgba(0, 0, 0, 0.2);*/
    background-color: red;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999999;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.embedchat-close-btn:hover {
    background-color: rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
    position: fixed;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
}

.fat {
    background-color: black;
    width: 15px;
    height: 15px;
    color: white;
    z-index: 99999999;
}
